@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/*Crear Variables*/
* {
  /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Ubuntu',sans-serif;
  font-weight: normal; }

body {
  padding-top: 50px;
  /* alto del header */ }

header.cabecera {
  background-color: rgba(255, 0, 0, 0.849);
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100%;
  display: flex; }

main {
  padding: 0px;
  margin: 0x;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 2100%; }

footer {
  padding: 0px;
  margin: 0px;
  position: absolute;
  text-align: center;
  background-color: #131111;
  width: 100%;
  height: 20vh; }

.linknav {
  display: flex;
  /*utilice lo anterior para el linknav y funciono okay*/
  flex-wrap: wrap;
  /*googleado*/
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 90px;
  height: 50px; }

.linknav:hover {
  background-color: #272626;
  /*border-radius: 10px;*/
  transform: scale(0.99) skew(163deg) translate(-1px, 0px);
  -webkit-transform: scale(0.99) skew(163deg) translate(-1px, 0px);
  -moz-transform: scale(0.99) skew(163deg) translate(-1px, 0px); }

.navegacion {
  display: flex;
  justify-content: center; }

iframe {
  z-index: 3;
  /* valor mayor al de los demás elementos */
  position: relative;
  /* o absolute si quieres que ocupe un lugar específico en la pantalla */ }

.logo img {
  position: relative;
  top: 0.5vh;
  left: 0.2vw;
  width: 10%;
  margin: 1vh; }

.boton-derecha button {
  position: absolute;
  top: 6px;
  right: 10px;
  border-radius: 10%;
  /* para redondear los bordes del botón */
  background-color: white;
  color: rgba(255, 0, 0, 0.849);
  font-weight: bold;
  padding: 10px;
  /* para darle un espacio entre el borde y el contenido del botón */
  border: none;
  /* para quitar cualquier borde predeterminado */ }

.boton-derecha button:hover {
  background-color: #272626;
  color: white;
  font-weight: bold;
  border-radius: 10px; }

/*INDEX CAROUSEL*/
/*INDEX CAROUSEL*/
/*INDEX CAROUSEL*/
/*INDEX CAROUSEL*/
.barraseparadora {
  width: 85%;
  height: 2px;
  background-color: #333;
  margin: 0 auto; }

.carousel {
  width: 100%;
  height: 70vh;
  display: flex;
  overflow: hidden;
  margin-bottom: 50px; }

.carousel-image {
  width: 100%;
  height: 70vh;
  object-fit: cover; }

.text-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
  font-weight: bold;
  width: 100%;
  height: 70vh;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }

.formula-1-container {
  text-align: left;
  color: #333;
  font-size: 16px;
  margin-bottom: 30px;
  margin-right: 100px;
  margin-left: 100px; }

.titulito {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  color: rgba(241, 21, 21, 0.863); }

.botonesprincipal {
  width: 300px;
  height: 200px;
  text-align: center;
  display: inline-block;
  margin: 20px;
  background-size: cover;
  border-radius: 5px; }

.botontituloprincipal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
  font-weight: bold;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; }

/*PAGINA HTML PILOTOS*/
/*PAGINA HTML PILOTOS*/
/*PAGINA HTML PILOTOS*/
/*PAGINA HTML PILOTOS*/
.TituloPilotos {
  text-align: left;
  padding: 50px; }

.TituloPilotos h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(241, 21, 21, 0.863); }

.TituloPilotos p {
  font-size: 18px;
  color: gray; }

.drivers-section {
  background-color: white; }

.driver-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr); }

.driver-card {
  display: flex;
  width: 90%;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(51, 50, 50, 0.39);
  overflow: hidden;
  margin: 30px;
  position: relative; }

.driver-card img {
  width: 70%;
  height: 100%;
  object-fit: contain;
  float: left; }

.driver-info {
  width: 30%;
  padding: 10px;
  background-color: rgba(241, 25, 25, 0.856);
  color: #fff;
  float: right;
  text-align: left; }

.driver-info h2 {
  font-size: 20px;
  margin-bottom: 10px; }

.driver-info p {
  font-size: 16px; }

/*PAGINA HMTL FOOTER*/
/*PAGINA HMTL FOOTER*/
/*PAGINA HMTL FOOTER*/
/*PAGINA HMTL FOOTER*/
.redes {
  background-color: rgba(105, 104, 104, 0.445);
  height: 50px; }

.descargaapp {
  text-align: left;
  -moz-text-size-adjust: auto;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1; }

.android {
  width: 80px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 120px;
  z-index: 1; }

.ios {
  width: 80px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 210px;
  z-index: 1; }

.insta {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 210px;
  z-index: 1; }

.face {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 170px;
  z-index: 1; }

.spoty {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 130px;
  z-index: 1; }

.youtube {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 90px;
  z-index: 1; }

.linkedin {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 9px;
  right: 50px;
  z-index: 1; }

.derechos {
  position: absolute;
  z-index: 1;
  color: white;
  left: 40vw;
  bottom: 0px; }

.boton-whatsapp img {
  width: 2.5%;
  height: 5%;
  position: fixed;
  bottom: 10px;
  right: 1%;
  z-index: 1; }

.formula1logo img {
  width: 5%;
  height: 20%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1; }

/*HTML CALENDARIO TABLE*/
/*HTML CALENDARIO TABLE*/
/*HTML CALENDARIO TABLE*/
table {
  width: 100%;
  /* Asegura que la tabla ocupe todo el ancho disponible */
  margin: 0 auto;
  /* Centra la tabla horizontalmente */
  border-collapse: collapse;
  /* Elimina los bordes entre las celdas */ }

/* Estilo para cada celda */
td, th {
  padding: 6px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  /* Negrita */
  text-align: center;
  width: 4px; }

/* Estilo para la columna de fecha */
td:first-child {
  background-color: rgba(255, 0, 0, 0.849);
  color: #333;
  text-align: center; }

/* Estilo para las demás columnas */
td:not(:first-child) {
  background-color: #f5f5f5;
  color: #333; }

/* Estilo para cada fila */
tr {
  border-bottom: 1px solid #ddd; }

/* Estilo para el encabezado de la tabla */
th {
  background-color: #333;
  color: #fff;
  border-bottom: rgba(255, 0, 0, 0.849);
  text-align: center; }

/* Estilo para los enlaces dentro de la tabla */
a.tickets {
  color: rgba(255, 0, 0, 0.849);
  text-decoration: none;
  font-weight: bold; }

.paisesca {
  width: 3vw;
  height: 5vh; }

.TituloCalendar {
  text-align: left;
  padding: 50px; }

.TituloCalendar h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(241, 21, 21, 0.863); }

.TituloCalendar p {
  font-size: 18px;
  color: gray; }

/*PAGINA HTML CONTACTO*/
/*PAGINA HTML CONTACTO*/
/*PAGINA HTML CONTACTO*/
/*PAGINA HTML CONTACTO*/
.titulocontacto {
  text-align: center;
  padding: 50px; }

.titulocontacto {
  font-size: 36px;
  font-weight: bold;
  color: rgba(241, 21, 21, 0.863); }

.padrepadre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*para centrar los elementos en el eje principal (horizontalmente)*/
  align-items: center;
  /*para centrar los elementos en el eje transversal (verticalmente)*/
  gap: 10px;
  /*para agregar espacio entre los elementos*/ }

.formulario1, .audiospoty, .hamiltongif {
  margin: 10px;
  /*agrega un margen de 10px alrededor de cada uno de los divs*/
  z-index: 0; }

.hamiltongif {
  flex: 2;
  order: 2;
  margin-top: -60px;
  /*use esto pero nose si esta bien, pero funciono. Acerca mas los div's*/ }

form {
  width: 500px;
  margin: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 20px;
  background-color: #333;
  box-shadow: 10px 10px 10px #333; }

/* Estilos para los inputs */
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px; }

/* Estilos para el botón Enviar */
input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; }

/* Estilos para el botón Limpiar */
input[type="reset"] {
  width: 100%;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; }

/*PAGINA HTML NOTICIAS*/
/*PAGINA HTML NOTICIAS*/
/*PAGINA HTML NOTICIAS*/
/*PAGINA HTML NOTICIAS*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  margin: 20px; }

.noticia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(241, 21, 21, 0.863);
  border-radius: 5px; }

.noticia p {
  color: #fff;
  font-weight: bold; }

.noticia1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 430px;
  height: 300px;
  z-index: 0; }

.noticia2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 430px;
  height: 300px;
  z-index: 0; }

.noticia3 {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
  z-index: 0; }

.noticia4 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  width: 430px;
  height: 300px;
  z-index: 0; }

.noticia5 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  width: 430px;
  height: 300px;
  z-index: 0; }

.noticia6 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  width: 430px;
  height: 300px;
  z-index: 0; }

/*PAGINA HTML EQUIPOS*/
/*PAGINA HTML EQUIPOS*/
/*PAGINA HTML EQUIPOS*/
/*PAGINA HTML EQUIPOS*/
.equipo-section {
  background-color: white; }

.equipo-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  z-index: 0; }

.equipo-card {
  display: flex;
  width: 90%;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(51, 50, 50, 0.39);
  overflow: hidden;
  margin: 30px;
  position: relative;
  z-index: 0; }

.equipo-card img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  float: left; }

.equipo-info {
  width: 30%;
  padding: 10px;
  background-color: rgba(241, 25, 25, 0.856);
  color: #fff;
  float: right;
  text-align: left; }

.equipo-info h2 {
  font-size: 20px;
  margin-bottom: 10px; }

.equipo-info p {
  font-size: 16px; }

/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Formato para cada tipo de pantalla para que el mismo sea responsive*/
/*Lo puse muchas veces para no perderme en el codigo y modificar los datos del responsive*/
@media (max-width: 767px) {
  .cabecera {
    flex-direction: column; }
  .main {
    flex-direction: column; }
  .footer {
    flex-direction: column; }
  .carousel {
    width: 100%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px; }
  .carousel-image {
    width: 100%;
    height: 50vh;
    object-fit: cover; }
  .text-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50vh;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
  table {
    width: 100%;
    /* Asegura que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse;
    /* Elimina los bordes entre las celdas */ }
  .driver-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto); }
  .driver-card img {
    width: 60%;
    height: 100%;
    object-fit: contain;
    float: left; }
  .driver-info {
    width: 40%;
    padding: 10px;
    background-color: rgba(241, 25, 25, 0.856);
    color: #fff;
    float: right;
    text-align: left; }
  .driver-info h2 {
    font-size: 12px;
    margin-bottom: 10px; }
  .driver-info p {
    font-size: 12px; }
  form {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    background-color: #333;
    box-shadow: 10px 10px 10px #333; }
  .titulocontacto {
    font-size: 20px;
    font-weight: bold;
    color: rgba(241, 21, 21, 0.863); }
  .paisesca {
    width: 40px;
    height: 50px; }
  .navegacion {
    display: flex;
    font-size: 13px; }
  .boton-whatsapp img {
    width: 8%;
    height: 4%;
    position: fixed;
    bottom: 10px;
    right: 6%;
    z-index: 1; }
  .redes {
    background-color: rgba(105, 104, 104, 0.445);
    height: 100px; }
  .descargaapp {
    text-align: left;
    -moz-text-size-adjust: auto;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1; }
  .android {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 120px;
    z-index: 1; }
  .ios {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 210px;
    z-index: 1; }
  .insta {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 5px;
    z-index: 1; }
  .face {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 40px;
    z-index: 1; }
  .spoty {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 75px;
    z-index: 1; }
  .youtube {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 110px;
    z-index: 1; }
  .linkedin {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 60px;
    left: 140px;
    z-index: 1; }
  .formula1logo img {
    width: 15%;
    height: 25%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1; }
  .derechos {
    position: absolute;
    z-index: 1;
    color: white;
    left: 16vw;
    bottom: 0px;
    font-size: 10px; }
  footer {
    padding: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
    background-color: #131111;
    width: 100%;
    height: 25vh; }
  .equipo-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 50px;
    z-index: 0; }
  .equipo-card {
    display: flex;
    width: 90%;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(51, 50, 50, 0.39);
    overflow: hidden;
    margin: 30px;
    position: relative;
    z-index: 0; }
  .equipo-card img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    float: left; }
  .equipo-info {
    width: 20%;
    padding: 10px;
    background-color: rgba(241, 25, 25, 0.856);
    color: #fff;
    float: right;
    text-align: left; }
  .equipo-info h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .equipo-info p {
    font-size: 10px; }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    margin: 15px;
    margin-top: 60px; }
  .noticia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(241, 21, 21, 0.863);
    border-radius: 5px; }
  .noticia p {
    color: #fff;
    font-weight: bold; }
  .noticia1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia4 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia6 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .cabecera {
    flex-direction: column; }
  .main {
    flex-direction: column; }
  .footer {
    flex-direction: column; }
  .carousel {
    width: 100%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px; }
  .carousel-image {
    width: 100%;
    height: 50vh;
    object-fit: cover; }
  .text-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50vh;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
  table {
    width: 100%;
    /* Asegura que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse;
    /* Elimina los bordes entre las celdas */ }
  .driver-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto); }
  .driver-card img {
    width: 60%;
    height: 100%;
    object-fit: contain;
    float: left; }
  .driver-info {
    width: 40%;
    padding: 10px;
    background-color: rgba(241, 25, 25, 0.856);
    color: #fff;
    float: right;
    text-align: left; }
  .driver-info h2 {
    font-size: 12px;
    margin-bottom: 10px; }
  .driver-info p {
    font-size: 12px; }
  form {
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    background-color: #333;
    box-shadow: 10px 10px 10px #333; }
  .titulocontacto {
    font-size: 20px;
    font-weight: bold;
    color: rgba(241, 21, 21, 0.863); }
  .paisesca {
    width: 40px;
    height: 50px; }
  .navegacion {
    display: flex;
    font-size: 13px; }
  .boton-whatsapp img {
    width: 8%;
    height: 4%;
    position: fixed;
    bottom: 10px;
    right: 1%;
    z-index: 1; }
  .redes {
    background-color: rgba(105, 104, 104, 0.445);
    height: 100px; }
  .descargaapp {
    text-align: left;
    -moz-text-size-adjust: auto;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1; }
  .android {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 120px;
    z-index: 1; }
  .ios {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 210px;
    z-index: 1; }
  .insta {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 5px;
    z-index: 1; }
  .face {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 40px;
    z-index: 1; }
  .spoty {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 75px;
    z-index: 1; }
  .youtube {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    left: 110px;
    z-index: 1; }
  .linkedin {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 60px;
    left: 140px;
    z-index: 1; }
  .formula1logo img {
    width: 15%;
    height: 25%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1; }
  footer {
    padding: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
    background-color: #131111;
    width: 100%;
    height: 20vh; }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    margin-top: 60px; }
  .noticia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(241, 21, 21, 0.863);
    border-radius: 5px;
    grid-row: auto; }
  .equipo-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 50px;
    z-index: 0; }
  .equipo-card {
    display: flex;
    width: 90%;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(51, 50, 50, 0.39);
    overflow: hidden;
    margin: 30px;
    position: relative;
    z-index: 0; }
  .equipo-card img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    float: left; }
  .equipo-info {
    width: 20%;
    padding: 10px;
    background-color: rgba(241, 25, 25, 0.856);
    color: #fff;
    float: right;
    text-align: left; }
  .equipo-info h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .equipo-info p {
    font-size: 10px; }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    margin: 15px;
    margin-top: 60px; }
  .noticia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(241, 21, 21, 0.863);
    border-radius: 5px; }
  .noticia p {
    color: #fff;
    font-weight: bold; }
  .noticia1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia4 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; }
  .noticia6 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    width: 350px;
    height: 300px;
    z-index: 0; } }

@media (min-width: 992px) {
  .cabecera {
    flex-direction: row; }
  .main {
    flex-direction: column; }
  .footer {
    flex-direction: row; } }
